.car-info {
    display: flex;
    justify-content: center;
    padding: 50px 0px 50px 0px;
    gap: 100px;
  }
  
  .car-info-3 {
    width: 350px;
  }
  
  .car-info-3 img {
    margin: 20px;
  }
  
  .car-info-3 h5 {
    margin-left: 20px;
    margin-bottom: 10px;
  }
  
  .car-info-3 p {
    margin-left: 23px;
    margin-bottom: 80px;
  }
  .car-info-3 h6 {
    margin-right: 20px;
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
  }
  
  .rent-rules {
    width: 715px;
  }
  
  .rent-rules h4 {
    margin: 20px;
  }
  
  .rent-rules h6 {
    margin: 20px;
  }
  
  .rent-rules p {
    margin-left: 20px;
    margin-right: 20px;
  }
  