.navbar-container {
  background-color: #f1f3ff;
  display: flex;
  justify-content: space-between;
  font-family: arial;
  }
  
  .logo-container {
    margin-right: 20px; /* Adjust the margin as needed */
    width: 704px;
    height: 407px;
  }
  