.car-list {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
    gap: 15px;
  }
  
  .search-dropdown {
    margin-top: 50px;
    margin-left: 450px;
    margin-bottom: 50px;
    padding: 10px;
    gap: 20px;
    display: inline-flex;
    border: solid rgba(174, 172, 172, 0.168);
    border-radius: 2px;
  }
  
  #button-result {
    margin-top: 34px;
    background-color: #5cb85f;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
  }
  
  .car-list h4 {
    margin: 10px;
    font-size: medium;
  }
  
  .car-list h5 {
    margin-left: 10px;
    font-size: medium;
  }
  
  .car-list h6 {
    margin-left: 10px;
    font-size: small;
    margin-bottom: 15px;
  }
  
  .car-list button {
    background-color: #5cb85f;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 5px 9px 5px 9px;
  }
  